################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClosedList/.vs/ClosedList/v16
/ClosedList/obj/Debug
/ClosedList/bin/Debug
/ClosedList/packages
/TestClosedList/bin/Debug
/TestClosedList/obj/Debug
